<!doctype html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>This is Home Page</title>
</head>

<body>

	<section>
		<div id="login">
			<div class="container">
			
			
			<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>

							<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
						</div>
						
				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
					
						<div id="login-box" style="height:240px;" class="col-md-12">
	
						<h3 class="text-center m-3">Reset Your Password</h3>

							<form id="forgot-form" class="form" th:action="@{/send_otp}" method="post">
							
							<div class="form-group m-2 mb-4">
							
							<input name="email" required type="email" placeholder="Enter your registered Email Id" class="form-control" />
					
							</div>
							
							<div class="container text-center">
							
							<button type="submit" class="btn btn-warning">Send OTP</button>
							
							</div>
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

</body>

</html>